<div style='margin-top:8em; text-align:center;width:100%;display:block;clear:both'>
<h1>Training Resources</h1>
<hr/>
</div>


<div style='text-align:center;width:100%;display:block;clear:both'>
  <ul style='padding-left:1em;text-align:center;list-style:none; margin-left:auto;margi-right:auto;clear:both; display:block'>
    <li style='float:left; padding-left:2em'><a href='/training/resources/railscasts'>Railscasts</a></li>
    <li style='float:left; padding-left:2em'><a href='/training/resources/peepcode'>Peepcode Screencasts</a></li>
    <li style='float:left; padding-left:2em'><a href='/training/resources/code-school'>Code School</a></li>

    <li style='float:left; padding-left:2em'><a href='/training/resources/stevenzeiler/videos'><b class='current'>My Youtube Videos</b></a></li>
    <li style='float:left; padding-left:2em'><a href='/training/resources/stevenzeiler/books'><b>Programming Books & Reviews</b></a></li>
    <li style='float:left; padding-left:2em'><a href='/training/resources/stevenzeiler/books'><b>My Dev Blog</b></a></li>
    <li style='float:left; padding-left:2em'><a href='/training/resources/newsletters'>Weekly Newsletters</a></li>
    <li style='float:left; padding-left:2em'><a href='/training/resources/shows_and_podcasts'>Shows & Podcasts</a></li>
    <li style='float:left; padding-left:2em'><a href='/training/resources/css-tricks'>CSS Tricks</a></li>

  </ul>
  <br/>

<hr/>
</div>