<div style='background-color:red;padding-top:7.5em; opacity:0.8; color:white; text-align:left;width:100%;display:block;clear:both'>
<h1 style='padding-left:1em'><%= @title || 'Training Resources' %></h1>
<hr/>
</div>


<div style='text-align:center;width:100%;display:block;clear:both;'>
  <ul id='trainingNavigation' style='padding-left:1em;text-align:center;list-style:none; margin-left:auto;margi-right:auto;clear:both; display:block'>
    <li style='float:left; padding-left:2em'><a href='/training/railscasts'>Railscasts</a></li>
    <li style='float:left; padding-left:2em'><a href='/training/peepcode'>Peepcode Screencasts</a></li>
    <li style='float:left; padding-left:2em'><a href='/training/codeschool'>Code School</a></li>

    <li style='float:left; padding-left:2em'><a href='/training/videos'><b>My Youtube Videos</b></a></li>
    <li style='float:left; padding-left:2em'><a href='/training/books'>Programming Books & Reviews</b></a></li>
    <li style='float:left; padding-left:2em'><a href='/training/blog'><b>My Dev Blog</b></a></li>
    <li style='float:left; padding-left:2em'><a href='/training/newsletters'>Weekly Newsletters</a></li>
    <li style='float:left; padding-left:2em'><a href='/training/shows'>Shows & Podcasts</a></li>
    <li style='float:left; padding-left:2em'><a href='/training/css-tricks'>CSS Tricks</a></li>

  </ul>
  <br/>

<hr/>
</div>

<script>
  $(function(){
    var currentUrl = document.location.pathname;
    console.log(currentUrl);
    $.each($('#trainingNavigation a'), function(i, a){
      if ($(a).attr('href') == currentUrl) {

        $(a).addClass('current');        
      } else { 
        console.log($(a).attr('href'));
      }
    })
  })
  
</script>