<%= render partial: 'training/resources/navigation' %>

<div class='span12' style='width:100%'>
  <section class='span3'>
    <h1 style=''>Ruby Show</h1>
    <%= image_tag 'peter_cooper_and_jason_seifer.png' %>
  </section>

  <section class='span3'>
    <h1 style=''>Ruby Rogues</h1>
  </section>

  <section class='span3'>
    <h1 style=''>Javascript Show</h1>
    <%= image_tag 'peter_cooper_and_jason_seifer.png' %>
  </section>

  <section class='span3'>
    <h1 style=''>Ruby Freelancers</h1>
  </section>
</div>