<li class="jimgilliam current">

    <a href="http://foundation.bz/30">
      <img style="float:left; margin-left:-5px; width:180px;height:200px;margin-top:-200px;" src="/foundation_files/images/coinbase_oauth_diagram_200x300.png"/>
        <span class="episode-number">30</span>
        <span class="episode-title">Jim Gilliam</span>
        <span class="episode-description">In the newest episode, I talk with NationBuilder founder Jim Gilliam.<br>&nbsp;</span>
    </a>
</li>