<div id="video">
    <div class="container">
        <iframe width="800" height="450" src="http://www.youtube.com/embed/Z4Jei4H3glk" frameborder="0" allowfullscreen></iframe>
        <div id="d" class="social right" style="display: block;">
            <ul>
                <li>
                    <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px; background-position: initial initial; background-repeat: initial initial;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1371335338589" name="I0_1371335338589" src="/foundation_files/fastbutton.html" allowtransparency="true" data-gapiattached="true" title="+1"></iframe></div>
                </li>
                <li>
                    <iframe src="/foundation_files/like.html" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="/foundation_files/tweet_button.1371247185.html" class="twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe><script type="text/javascript" src="./foundation_files/widgets.js"></script>


                </li>
            </ul>
            <a href="http://foundation.bz/#" class="share"><span>Share</span></a>
        </div>
        <h2 id="b" style="display: block;"><span>Episode 5 w/</span> Steven Zeiler</h2>
        <p id="c" style="display: block;">Oauth with Coinbase and Omniauth.</p>
        <div class="clear"></div>
    </div>
</div>