<header>
<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" style='margin: 0 auto 8px auto'>
			<a class="brand logo" href="/">
			<img src="/assets/img/logo.png" alt="" />
			Technology Training
			</a>

			<div style='float:right'>
				<div class="btn-group filter-category" style='margin-top:20px;'>
					<a class="btn btn-success" href="#"><i class="icon-list icon-white"></i> Select category</a>
					<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
					<ul class="dropdown-menu filter">
						<li class="all active"><a href="#"><i class="icon-picture"></i> All category</a></li>
						<li class="web"><a href="#ruby"><i class="icon-picture"></i> Rails</a></li>
						<li class="brand"><a href="#javascript"><i class="icon-picture"></i> Javascript </a></li>
						<li class="graphic"><a href="#html"><i class="icon-picture"></i> HTML</a></li>
						<li class="photo"><a href="#http"><i class="icon-picture"></i> HTTP</a></li>
						<li class="ilustrator"><a href="#ios"><i class="icon-picture"></i> iOS</a></li>
					</ul>
				</div>
				<nav>
				<ul class="nav topnav">
					<% if current_user.present? && current_user.admin? %>
					<li class="dropdown primary">
					<a href="/console"><i class="icon-leaf icon-white"></i> Admin Mode</a>
					</li>
					<% end %>
				</ul>
				</nav>
			</div>

			<!-- end menu -->
		</div>
	</div>
</div>


</header>