<header>
<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!-- logo -->
			<a class="brand logo" href="/">
			<img src="/assets/img/logo.png" alt="" />
			</a>
			<!-- end logo -->
			<!-- top menu -->
			<div>
				<nav>
				<ul class="nav topnav">
					<li class="dropdown success">
					<a href="/"><i class="icon-home icon-white"></i> Home</a>
					</li>
					<li class="dropdown primary">
					<a href="http://zenterp-3d-store.herokuapp.com"><i class="icon-star icon-white"></i> Products</a>
					</li>
					<li class="dropdown warning">
					<a href="http://training.zenterp.co"><i class="icon-camera icon-white"></i> Training</a>
					</li>
					<li class="dropdown info">
					<a href="/research"><i class="icon-bullhorn icon-white"></i>Labs</a>
					</li>
					<li class="dropdown danger">
					<a href="/contact"><i class="icon-envelope icon-white"></i> Contact</a>
					</li>
					<li class="dropdown inverse">
					<a href="/team"><i class="icon-leaf icon-white"></i> Team</a>
					</li>
				</ul>
				</nav>
			</div>
			<!-- end menu -->
		</div>
	</div>
</div>
</header>