<div class="jumbotron masthead">
	<div class="container">
		<div class="row">
			<div class="span12">
				<!-- Place somewhere in the <body> of your page -->
				<div id="mainslider" class="flexslider">
					<ul class="slides">
						<li data-thumb="assets/img/slides/flexslider/img1.jpg">
						<img src="assets/img/slides/flexslider/img1.jpg" alt="" />
						<div class="flex-caption primary">
							<h2>Zenterp</h2>
							<h4>A one-of-a-kind technology research and experience design company</h4>
						</div>
						</li>
						<li data-thumb="assets/img/slides/flexslider/img2.jpg">
						<img src="assets/img/slides/flexslider/img2.jpg" alt="" />
						<div class="flex-caption warning">
							<h2>Professional Training</h2>
							<h4>We produce professional-quality training materials and offer private lessons to boost your tech skills.</h4>
						</div>
						</li>
						<li data-thumb="assets/img/slides/flexslider/img3.jpg">
						<img src="assets/img/slides/flexslider/img3.jpg" alt="" />
						<div class="flex-caption success">
							<h2>Visionary </h2>
							<h4>Follow our Research into 3D printing, robotics, and mobile computing.</h4>
						</div>
						</li>
						<li data-thumb="assets/img/slides/flexslider/img4.jpg">
						<img src="assets/img/slides/flexslider/img4.jpg" alt="" />
						<div class="flex-caption danger">
							<h2>Productive</h2>
							<h4>We create for sale custom 3D-printed objects, Digital 3D models, and Mobile & Web Applications</h4>
						</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>