<div class="jumbotron masthead">
	<div class="container">

		<div class="row">
			<div class="span12">
				<!-- Place somewhere in the <body> of your page -->
				<div id="mainslider" class="flexslider">
					<ul class="slides">
						<li data-thumb="assets/img/slides/flexslider/img2.jpg">
						<img src="assets/img/slides/flexslider/img2.jpg" alt="" />
						<div class="flex-caption warning">
							<h2>Professional Training</h2>
							<h4>We produce professional-quality training materials and offer private lessons to boost your tech skills.</h4>
						</div>
						</li>
						<li data-thumb="assets/img/slides/flexslider/mobile-team-slide.png">
						<img src="assets/img/slides/flexslider/mobile-team-slide.png" alt="" />
						<div class="flex-caption success">
							<h2>Visionary </h2>
							<h4>Follow our Research into 3D printing, robotics, and mobile computing.</h4>
						</div>
						</li>
					</ul>
				</div>
				<div class="btn-toolbar cta" style='margin-top:-100px;position:relative;float:right;'>
					<a class="btn btn-large btn-danger" href="/training"><i class="m-icon-big-swapright m-icon-white"></i> Wizard Academy</a>
					<a id='subscribeButton' class="btn btn-large btn-success" href="#"><i class="m-icon-big-swapdown m-icon-white"></i> Subscribe now</a>
				</div>
			</div>
		</div>
	</div>
</div>