<div class="row">
	<div class="span3">
		<h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;Main features</h3>
		<p>
			Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Praesent eleifend sodales felis, in congue purus scelerisque eget.
		</p>
	</div>
	<div class="span3">
		<div class="well well-primary box">
			<img src="assets/img/icons/box-1-white.png" alt="" />
			<h3>Responsive bootstrap</h3>
			<p>
				 Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium imperdiet in pri. Mel virtute efficiantur ne zril.
			</p>
			<a href="#">Read more</a>
		</div>
	</div>
	<div class="span3">
		<div class="well well-success box">
			<img src="assets/img/icons/box-2-white.png" alt="" />
			<h3>With metro taste</h3>
			<p>
				 Ad sit option intellegat, unum populo comprehensam ut sed. Copiosae corrumpit qui ex, duo nullam feugait qualisque at an dicit saperet.
			</p>
			<a href="#">Read more</a>
		</div>
	</div>
	<div class="span3">
		<div class="well well-warning box">
			<img src="assets/img/icons/box-3-white.png" alt="" />
			<h3>Well documented</h3>
			<p>
				 Ne vix clita integre expetenda, eos cetero numquam no, in sea omnes detracto. Ne iriure habemus maiestatis mei. Postea euripidis contentiones.
			</p>
			<a href="#">Read more</a>
		</div>
	</div>
</div>