<div class="span6">
	<h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;What people are saying</h3>
	<div id="myCarousel" class="carousel slide testimonials">
		<div class="carousel-inner">
			<div class="item active">
				<div class="testimonial">
					<img src="assets/img/dummies/testimonial-author-1.png" alt="" />
					<blockquote>
						<p>
							 Lorem ipsum dolor sit amet, ne has nostro mentitum gubergren, no eam utamur civibus philosophia.
						</p>
					</blockquote>
					<div class="info">
						<span class="author"><strong><a href="#">Kelly Howards</a>,</strong></span>
						<span class="company">MMC Design - Director</span>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial">
					<img src="assets/img/dummies/testimonial-author-2.png" alt="" />
					<blockquote>
						<p>
							 Equidem instructior duo ad, mucius eripuit eloquentiam cu mea, suas tota urbanitas id his. Nec ea veritus nostrum.
						</p>
					</blockquote>
					<div class="info">
						<span class="author"><strong><a href="#">Mark Lunch</a>,</strong></span>
						<span class="company">Mad Business - Marketing Officer</span>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>