<div class="span12">
	<h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;What we do</h3>
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				1. Mobile Web development services </a>
			</div>
			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">
					<img src="assets/img/icons/responsive-icon.png" class="alignleft" alt="" />
					<h5>Mobile Web development services</h5>
					<p>
						 We design and construct custom and user-friendly application experiences.
					</p>
					<a href="#">Learn more</a>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				2. Web design Services </a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
					<img src="assets/img/icons/design-icon.png" class="alignleft" alt="" />
					<h5>Web design Services</h5>
					<p>
						 Nam omnium salutandi ad, accusam indoctum ne mel, posse expetendis mea at. Luptatum antiopam pro ne. Eum at autem antiopam.
					</p>
					<a href="#">Learn more</a>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				3. 3D Digital and Physical Design and Production </a>
			</div>
			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">
					<img src="assets/img/icons/statistic-icon.png" class="alignleft" alt="" />
					<h5>3D Design</h5>
					<p>
						 Our state-of-the-art custom 3D printers can build real objects from the ether of your digital creations.
					</p>
					<a href="#">Learn more</a>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				4. Training </a>
			</div>
			<div id="collapseFour" class="accordion-body collapse">
				<div class="accordion-inner">
					<img src="assets/img/icons/wp-icn.png" class="alignleft" alt="" />
					<h5>Training: Programming and Electronics </h5>
					<p>
						 We believe that the world will prosper as more people learn to build using powerful, new, and cheap technologies.
					</p>
					<a href="#">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</div>