<section id="subintro">
<div class="jumbotron subhead" id="overview">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h3><i class="m-icon-big-swapright m-icon-white"></i> Contact us</h3>
				<p>
					We are established in the tech hubs of Austin, TX and San Francisco, CA.
				</p>
			</div>
			<!--
			<div class="span4">
				<div class="input-append">
					<form class="form-search">
						<input type="text" class="input-medium search-query">
						<button type="submit" class="btn btn-inverse">Search</button>
					</form>
				</div>
			</div>
			-->
		</div>
	</div>
</div>
</section>
<section id="maincontent">
<div class="container">
	<div class="row">
		<div class="span4">
			<aside>
			<div class="widget">
				<h4 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;Get in touch with us</h4>
				<ul>
					<li><label><strong>Phone : </strong></label>
					<p>
						+802 222 0128
					</p>
					</li>
					<li><label><strong>Email : </strong></label>
					<p>
						me@stevenzeiler.com
					</p>
					</li>
					<li><label><strong>Adresses : </strong></label>
					<p>
						300 Bowie Street #3104 Austin, TX 78703
					</p>
					<p>
						PO Box 193608 San Francisco, CA 94119
					</p>
					</li>
				</ul>
			</div>
			</aside>
		</div>
		<div class="span8">
			<div class="well">
				<iframe class="max-iframe" src="https://maps.google.com/maps/ms?msa=0&amp;msid=208566922654324240353.0004be969cc5c1556891f&amp;hl=en&amp;ie=UTF8&amp;ll=-6.286634,106.812515&amp;spn=0,0&amp;t=m&amp;iwloc=0004be96a53f4a9541480&amp;output=embed">
				</iframe>
			</div>
			<div class="spacer30">
			</div>
			<form action="#" method="post" class="contact-form" name="comment-form">
				<div class="row">
					<div class="span3">
						<label>Name <span>*</span></label>
						<input type="text" class="input-block-level" placeholder="Your name" />
					</div>
					<div class="span3">
						<label>Email <span>*</span></label>
						<input type="text" class="input-block-level" placeholder="Your email" />
					</div>
					<div class="span8">
						<label>Message <span>*</span></label>
						<textarea rows="9" class="input-block-level" placeholder="Your message"></textarea>
						<button class="btn btn-medium btn-success" type="submit">Send a message</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</section>