<section id="subintro" style='background:#8A76d5'>
<div class="jumbotron subhead" id="overview">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3><i class="m-icon-big-swapright m-icon-white"></i>Welcome</h3>
        <p style='font-size:150%;'>
          Zenterp Training provides demonstrations and tutorials of various popular web and mobile programming tools for fun and profit!
        </p>
      </div>
      <div class="span4">
        <div class="input-append">
          <form class="form-search">
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn btn-inverse">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section id='videosGrid'>
  <%= render "videos/portfolio" %>
</section>

<script>
	$(function(){
		$('#subscribeButton').on('click', function(){
			$("html, body").animate({ 
				scrollTop: $(document).height() 
			}, 1000);
		})

    $('form').on('submit', function (e) {
      e.preventDefault();
      var query = $('form .search-query').val();
      document.location.href = '/training/videos/search/'+query;
    })
		
	})
</script>