<section id="intro">
  <%= render "sections/intro" %>
</section>

<script>
	$(function(){
		$('#subscribeButton').on('click', function(){
			$("html, body").animate({ 
				scrollTop: $(document).height() 
			}, 1000);
		})
		
	})
</script>