<section id="intro">
  <%= render "sections/intro" %>
</section>

<%= render "sections/download_and_pricing" %> 

<!-- end tagline -->
<section id="maincontent">
<div class="container">
	<%# render "sections/main_features" %>
	<!-- divider -->
	<div class="row">
		<div class="span12">
			<div class="divider">
			</div>
		</div>
	</div>
	<!-- end divider -->
	<div class="row">
		<%# render "sections/what_people_are_saying" %>
		<%= render "sections/what_we_do" %>
	</div>
</div>
</section>
<section id="bottom">
<div class="container">
	<!-- divider -->
	<div class="row">
		<div class="span12">
			<div class="divider">
			</div>
		</div>
	</div>
	<!-- end divider -->
	<%= render "sections/recent_works" %>
</div>
</section>