<section id="subintro">
<div class="jumbotron subhead" id="overview">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h3><i class="m-icon-big-swapright m-icon-white"></i> Labs & Research</h3>
				<p>
					Video and text productions and documentation of our research.
				</p>
			</div>
			<div class="span4">
				<div class="input-append">
					<form class="form-search">
						<input type="text" class="input-medium search-query">
						<button type="submit" class="btn btn-inverse">Search</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<section id="maincontent">
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="btn-group filter-category">
				<a class="btn btn-success" href="#"><i class="icon-list icon-white"></i> Select category</a>
				<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu filter">
					<li class="all active"><a href="#"><i class="icon-picture"></i> All category</a></li>
					<li class="web"><a href="#"><i class="icon-picture"></i> Programming Tutorials</a></li>
				</ul>
			</div>
			<!--<div class="pagination pagination-right">
				<ul>
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>-->
		</div>
	</div>
	<div class="row">
		<ul class="portfolio-area da-thumbs">
			<% @youtube_videos.each do |video| %>
			  <%= render "research/video", video: video %>			  
			<% end %>			
		</ul>
	</div>
	<!--
	<div class="row">
		<div class="span12">
			<div class="pagination">
				<ul>
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
-->
</div>
</section>