<html>
  <head>
    <style>
      .container { 
        margin-left:auto;
        margin-right:auto;
        margin-top:1em;
        padding:2em;
        background-color: #eee;        
        width: 800px;
      }

      .container h1 { 
        border-bottom: 1px;
        text-align:center;
      }
      body { 
        background-color: #aaa;
      }
    </style>

    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag :application %>
    <link rel="stylesheet" src="/assets/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" src="/assets/css/bootstrap.css"/>
    <srcipt src="/assets/js/bootstrap.js"/>


  </head> 


  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>